@font-face {
    font-family: OpenSansYhordi;
    src: url('./00-recursos-frecuentes-css/opensans/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
}
*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.6rem;
}
/*Styles de nav que rebota como pelota*/
.navegacion{
    transform: translateY(-100%);
    animation:  botar 3s infinite ;
}

@keyframes botar {
    0%{
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(0%);
    }

    100%{
        transform: translateY(-100%);
    }
}
.menu li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}

/*Estilos de card usuario victor*/

.layout{
    width: 100%;
    height: 800px;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #E47D91;
}

.layout_main {
    width: 100%;
    max-width: 35rem;
    border-radius: 2rem;

    box-shadow: 0px 0px 15px #EA5370;
}

.main_user{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    background-color: #EA5370;
    border-radius:2rem 2rem 0 0;
    color: white;
    gap: 7px;
}
.user_container-img{
    margin-top: 4rem;
    width: 150px;
    height: 150px;
   
}
.user_img{
    border: white 5px solid;
    border-radius: 1000px;
}

.user_name, .follow_number{
    font-weight: bold;
}

.user_city{
    font-weight: 500;
}

.main_follows{
    padding: 3rem 0;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    background-color: white;
    border-radius: 0 0 2rem 2rem;
}

.follows_follow{
    text-align: center;
}

.folloe_subtitle{
    color: gray;

}
.user_name, .user_nick, .user_city,  .folloe_subtitle{
    font-size: 1rem;
}

/*estilos de encabezado proyecto 3*/

.container_encabezado{
    padding: 10px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container_encabezado h2{
    background-color: black;
    color: white;
}
.container_encabezado a{
    text-decoration: none;
    color: red;
}

.container_encabezado a:hover{
    text-decoration: underline;
}

.container_encabezado p {
    border: 1px solid rgba(0, 89, 255, 0.667);
    padding: 10px;
}


/*Traduccion de documento*/
.layaut_main{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 70rem;
    margin: 0 auto;
    padding: 20px;
    height: auto;
}


.header_top {
    color: rgb(11, 56, 255);
    margin-bottom: 20px;
    display:  flex;
    justify-content: space-between;
}
.header_botton form{
    display: flex;
    gap: 20px;
}
.header_botton form label {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.search-header-input{
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.097);
    padding: 8px;
    font-weight: 600;
    border-radius: 10px;
    color: black;
}
.select-lenguaje{
    border: none;
    background-color: rgba(0, 0, 0, 0.097);
    padding: 8px;
    font-weight: 600;
    border-radius: 10px;
    color: black;
}
.fa-magnifying-glass{
 position: absolute; 
 right:  10px;
 font-size: 21px;
}

.main_voz{
    display: flex;
    justify-content: space-between;
}
.main_voz div{
    width: 50px;
    height: 50px;
    border-radius: 1000px;
    background-color: rgb(62, 103, 252);
    display: flex;
   
}
.main_voz div i{
    color: wheat;
    margin: auto ;
}

main {
 text-align: center;
}
.traduccion-raya{
    margin: 40px auto;
    position: relative;
  display: flex;
  align-items: center; 
  justify-content: center;
}
.traduccion-raya .linea{
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.342);
  
    
}
.traduccion-raya h6{
    position: absolute;
    background-color: white;
    z-index: 10;
    padding: 0 15px;
    font-size: 1.5rem;
    font-weight: 600;
}

main .container-results{
    padding: 5px 30px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    text-align: start;
    margin-bottom: 20px;
    list-style: outside;
}

main .item-result strong {
    color: rgb(25, 25, 246);
}

.seccion-traductor{
    display: flex; 
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.seccion-traductor{
    color: rgb(39, 39, 201);
}
.seccion-traductor h5{
    color: gray;
}
.footer-traductor{
    font-size: 13px;
    color: gray;
}

/*Correo card*/
.main-correo{

    width: 100%;
    height: 900px;
    background-color: rgb(19, 96, 60);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main-correo h5{
    color: white;
    margin-bottom: 20px;
}

.correo-form{
    width: 100%;
    max-width: 25rem;
}
.correo-form .coreo {
    background-color: white;
    display: flex;
    padding: 12px;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem
}

.correo-form .coreo i{
    color: rgb(27, 61, 255);
}

.container-form {
    margin-top: 10px;
 background-color: white;
 padding: 15px;
display: flex;
flex-direction: column;
gap: 15px;
}

.container-form div {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}
.container-form div .rango-value{
    color: rgb(0, 68, 255);
   
}

.correo-range{
    width: 100%;
    cursor: pointer;
}

.correo-form .correo-checkbox{
    display: flex;
    align-items: center;
justify-content: flex-start;
font-size: 1.3rem;
gap: 5px;
cursor: pointer;
}

.correo-form .correo-checkbox input:hover{
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 0px 8px rgb(37, 110, 255);
}

.perzonalizado{
    background-color: black;
    color: rgb(106, 105, 105);
    font-size: 1.3rem;
    text-align: start;
    padding: 10px;
}
.container-form button {
    width: 100%;
    padding: 15px;
    background-color: rgb(0, 68, 255);
    color: white;
    border: 0;
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
}
.container-form button:hover{
    background-color: black;
    transition: background-color 0.5s ease;
}

/*Estilos de planes y precios */

.layaut-main-precios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
    height: 100%;
    min-height: 900px;
    background-color: #ECF2F7;
}

.precios-title{
    color: #EA5370;
    font-size: 18px;
    margin-bottom: 30px;
}
.cards-planes{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.card{
    background-color: white;
    width: 250px;
    padding: 30px;
    border-radius: 12px;
}
.card hr{
    border: rgba(128, 128, 128, 0.143) solid 0.1px;
}
.card .plane{
    font-size: 16px;
    font-weight: 600;
}
.card .precios{
    font-size: 33px;
    margin-bottom: 30px;
}
.cards-planes .card p{
    font-family: OpenSansYhordi;
    padding: 8px 0;
 font-size: 14px;
 font-weight: 700;
}


.cards-planes .card .comprar{
    width: 100%;
    background-color: rgb(248, 114, 136);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 0;
    margin-top: 35px;
    cursor: pointer;
}
.cards-planes .card:hover{
    transform: scale(1.08);
    background-color: #EA5370;
    color: white;
    transition-property: transform background-color color;
    transition:  0.3s ease-out ;
}
.cards-planes .card:hover hr{
    border: rgba(255, 255, 255, 0.209) solid 0.2px;
}
.cards-planes .card:hover .comprar{
    background-color: white;
    color: #E47D91;
}

.toggle-suscribir{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.1rem;
    gap: 10px;
}

.toggle--switch{
    position: relative;
    width: 4rem;
    display: inline-block;
}
.toggle--switch .checkbox{
    position:absolute;
    appearance: none;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
}
.toggle--switch .toggle--slider{
    width: 100%;
    height: 2rem;
    background-color: #dadada;
    border-radius: 25px;
    cursor: pointer;
   
}
.toggle--switch .toggle--slider::before{
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color:#ffffff ;
    top: 0.3rem;
    left: 0.3rem;
    border-radius: 100px;
    transition: transform 300ms ease-in-out;

}

.checkbox:checked+.toggle--slider{
    background-color: #EA5370;
}

.checkbox:checked+.toggle--slider::before{
    transform: translateX(30px);
}
/*Estilos de hotel buscador*/

.body-hotel{
    background-color: rgb(47, 38, 38);
    height: 900px;
}
.header-hotel{
    margin-bottom: 35px;
}
.header-hotel .hotel-title{
    color: white;
    font-size: 2rem;
    font-family: OpenSansYhordi;
    text-align: center;
    padding: 30px 0;
}
.form-search .container-search{
    display: flex;
    justify-content: center;
}
.container-search .search-hotel{
    width: 100%;
    max-width: 450px;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px 0px 0px 10px;
}
.container-search .container-logo{
    background-color: green;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
}
.container-logo .logo-search {
    width: 25px;
    height: 25px;
}
.main-hotel{
    margin-top: 150px;
    position: relative;
    display: flex;
    justify-content: center;
}
.main-hotel .hotel-detalles{
    top: -60px;
    position: absolute;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.hotel-detalles .hotel-seccion{
    padding: 0 30px;
}
.hotel-detalles .hotel-seccion p{
    font-size: 14px;
}
 .hotel-detalles .hotel-seccion h6{
    font-size: 1.3rem;
}

.hotel-detalles .item2{
    border-left: 1px solid rgba(0, 0, 0, 0.176);
    border-right: 1px solid rgba(0, 0, 0, 0.177);
}
.main-hotel .hotel-mapa{
    width: 100%;
    
}

/*Estilos de frases rotativas*/

.body-frases{
height: 900px;
    background-color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.body-frases .main-frase{
    text-align: start;
}
.body-frases .frase-rotado{
    font-size: 5rem;
    position: relative;
    display: block;
    animation: rotate 13s cubic-bezier(0.91, -0.02, 0.14, 1.13) infinite ;
}

@media (max-width: 1181px){
    .saludo .title_text{
        height: 7rem;
        line-height: 1.8;
    }
.body-frases  .frase-rotado{
       font-size: 4rem;
    }
   }

   @media (max-width: 935px){
    .saludo .title_text{
        height: 6rem;
        line-height: 2.4;
    }
.body-frases  .frase-rotado{
       font-size: 3rem;
    }
   }


   @media (max-width: 705px){
    .saludo .title_text{
        height: 5rem;
        line-height: 3.55;
    }
.body-frases  .frase-rotado{
       font-size: 2rem;
    }
   }

   @media (max-width: 705px){
    .saludo .title_text{
        height: 4rem;
        line-height: 6.55;
    }
.body-frases  .frase-rotado{
       font-size: 1.3rem;
    }
   }
.saludo .title_text{
    height: 8rem;
    overflow: hidden;
}

@keyframes rotate{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-7.8rem);
    }
    50%{
        transform: translateY(-15.6rem);
    }
    75%{
        transform: translateY(-23.0rem);
    }
    100%{
        transform: translateY(0);
    }
}

/*Estilos de cronometro*/

.main-cronometro{
    background-color: rgb(156, 156, 227);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 900px;
}

.main-cronometro .cronometro-contador{
    width: 500px;
    height: 500px;
    background-color: rgb(13, 16, 67);
   padding: 2rem;
    border-radius: 500px;
   

}
@media (max-width: 768px){
 .cronometro-contador{
    transform: scale(0.8);
 }
}
@media (max-width: 428px){
    .cronometro-contador{
       transform: scale(0.6);
    }
   }
@media (max-width:428px){
   .main-cronometro .cronometro-modos{
        border-radius: 10px;
        margin: 5px;
    }
}
.container-cronometro{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    border: greenyellow 9px solid;
    border-radius: 500px;
    border-left: 8px solid transparent;
}
.cronometro-contador time{
    color: white;
    font-size: 5rem;
    font-weight: 800;
    text-shadow:1px 1px 20px #dadada91, 1px -10px 6px #05ffd8, 1px -17px 14px #213af8;
}
.metodos-cronometro{
    display: flex;
    gap: 20px;
}
.metodos-cronometro button{
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: greenyellow;
    padding: 7px;
    cursor: pointer;
}

.metodos-cronometro button:hover{
    background-color: white;
    color: rgb(5, 5, 110);
    transition: background-color 0.4s ease;
}

.cronometro-modos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    background-color:  rgb(13, 16, 67);
    border-radius: 100px;
}
.cronometro-modos button{
    padding: 10px;
    border: none;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    color: gray;
    cursor: pointer;
}
.cronometro-modos button:first-child,
.cronometro-modos button:hover{
    background-color: greenyellow;
    color:  rgb(13, 16, 67);
}

.video-body{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.video-body .opacity{
    cursor: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.418);
    z-index: -1;
}
.video-body video{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    object-fit: cover;
}
.video-body h1{
    text-align: center;
    color: white;
    margin-bottom: 30px;
    animation: shadowtext 2s ease-in infinite ;
}
@keyframes shadowtext{
    0%{
        filter: drop-shadow(0px 0px 0px rgba(216, 123, 23, 0.999));
    }
    50%{
        filter: drop-shadow(0px 0px 20px rgba(216, 81, 23, 0.956));
    }
    100%{
        filter: drop-shadow(0px 0px 5px rgba(216, 123, 23, 0.999));
    }
}
.video-body button{
    cursor: pointer;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
}
.video-body button:hover{
    background-color: #ef395d;
    color: #ffffff;
}
/* card ladin auto*/
.movil-main{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efd2d8;
}

.conntainer-movie{
    width: 100%;
    max-width: 800px;
    display: flex;
}

@media (max-width: 768px){
    .conntainer-movie{
        flex-wrap: wrap;
        max-width: 400px;
        padding: 10px;
        background-color: white;
    }
    
    .container-img img{
        border-radius: 20px;
    }

}
.container-img{
    height: auto;
    width: 800px;
   
}
.container-img img{
    height: 100%;
    border-bottom-left-radius:20px ;
    border-top-left-radius: 20px;
}
.conntainer-movie .container-inf {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    background-color: white;
    border-bottom-right-radius:20px ;
    border-top-right-radius: 20px;
}
.conntainer-movie .container-inf h4{
    font-size: 20px;
}

.conntainer-movie .container-inf p{
    font-size: 16px;
    color: rgba(128, 128, 128, 0.674);
}
.container-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conntainer-movie .container-user .user-inf{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
}
.container-user .user-inf{
    font-size: 20px;
    font-weight: 600;
}
.conntainer-movie .container-user .user-inf span{
  color: rgba(128, 128, 128, 0.817);
  font-size: 14px;
}
.conntainer-movie .container-user .user-inf img {
 width: 40px;
 height: 40px;
 border-radius: 100px;
}

.icono-container{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    padding: 15px;
    background-color: rgb(39, 179, 255);
    display: flex;
}
 .icono-container svg{
    width: 20px;
    height: 20px;
}

/*estilos grid de page*/

.grid-main{
    width: 100%;
    height: 900px;
    display: grid;
   grid-template-areas:
   'header header header'
   'main main nav'
   'main main nav'
   'main main nav'
   'main main nav'
   'main main nav'
   'main main nav'
   'main main nav'
   'main main nav'
   'main main nav'
   'main main nav'
   'footer footer footer';
}

@media (max-width:870px) {
    .grid-main{
        grid-template-areas:
   'header header header'
   'main main main'
   'main main main'
   'main main main'
   'main main main'
   'main main main'
   'main main main'
   'main main main'
   'main main main'
   'main main main'
   'main main main'
   'footer footer footer';
    }
}
.header-grid{
    background-color: rgb(255, 55, 0);
    grid-area: header;
    color:  white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}
.main-grid{
    grid-area: main;
}
.main-grid .container-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EA5370;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
}
.main-grid .container-articulo{
    height: 94%;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    
}
.container-articulo article{
    background-color: #efd8aa;
    font-size: 16px;
    padding-top: 20px;
    border-radius: 5px;
}
.nav-grid{
    background-color: rgb(8, 116, 166);
    grid-area: nav;
    text-align: center;
    padding-top: 20px;
    font-weight: 800;
}

@media (max-width: 870px) {
    .nav-grid{
        display: none;
    }
}

.footer-grid{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

/**estilos de estadisticas de edad*/

.main-fechas{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #edcfd5;
}

.rango-edad-comun{
    width: 100%;
    max-width: 700px;
    padding: 20px;
    background-color: #0bddbe;
    color: white;
    border-radius: 10px;
    font-size: 14px;
}
.rango-edad-comun span{
    font-weight: 700;
    font-size: 22px;
}

.container-poblacion{
    width: 100%;
    max-width: 700px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container-estadistica{

    height: 180px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(7,1fr);
}
.valor{
     display: flex;
    flex-direction: column;
    justify-content: end;
}
.valor span{
    font-size: 13px;
    color: rgba(128, 128, 128, 0.769);
    text-align: center;
    font-weight: 600;
}
@media (max-width: 425px) {
    .valor span{
        letter-spacing: -1.5px;
    }
}

.valor .bara{
    background-color: #0bddbe;
   border-radius: 10px;
}

.valor .bara-item1{
    height: 80%;
    background-color: #058270;
}

.valor .bara-item2{
    height: 60%;
}
.valor .bara-item3{
    height: 10%;
}
.valor .bara-item4{
    height: 5%;
}
.valor .bara-item5{
    height: 70%;
}
.valor .bara-item6{
    height: 20%;
}


.valor .bara-item7{
    height: 10%;
}

.rango-edad{
    border: 1px grey solid;
    padding: 20px;
    border-radius: 10px;
    font-size: 14px;
}

.rango-edad span{
 font-size: 40px;
 font-weight: 800;
}

/*estilos de boton transicion*/
.main-mirame{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:30px ;
}

.main-mirame button{
    padding: 15px;
    width: 200px;
    cursor: pointer;
}
.main-mirame .video-mirame{
    position: relative;
 border: #21b0f8 1px solid;
 border-radius: 4px;
 background-color: transparent;
 color: #21b0f8;
}
.main-mirame .video-mirame::before{
    transition: height 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    position: absolute;
    overflow: hidden;
    content: 'Subir Video';
    background-color: #21b0f8;
    color: white;
    
    
}
.main-mirame .video-mirame:hover.video-mirame::before{
    transition: height 0.5s ease;
  height: 100%;
}

.main-mirame .mirame-espancion{
    transition: transform 0.5s ease;
    border: #21b0f8 1px solid;
    border-radius: 50px;
    background-color: #21b0f8;
    color: white;
    position: relative;
}

.main-mirame .mirame-espancion::before{
    
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50px;

    position: absolute;
    z-index: -1;
}

.main-mirame .mirame-espancion:hover.mirame-espancion::before{
    
  
    animation: aura 0.5s ease-in-out;
    
}

@keyframes aura {
    0%{
        background-color: #21b0f8;
        transform: scale(1.02)
    }
    100%{
        background-color: #21b0f825;
        transform: scale(1.26)
    }
}

/*estilos de formulario*/

.main-register{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
  
    align-items: center;
    background-color: #c4c0c0;
}

.container-registro{
    background-color: white;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 19px;
}
@media (max-width: 602px) {
    .container-registro .list-pasos{
        width: 100%;
        flex-direction: row;
    }
}
.list-pasos{
    width: 35%;
    background: linear-gradient(to bottom, rgb(115, 6, 193), #bc70bc);
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.list-pasos .item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.list-pasos .item .number{
    width: 40px;
    height: 40px;
    border: 1px white solid;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}
.list-pasos .item .paso-inf p{
    font-size: 12px;
}

.registro-cnt{
    padding: 15px;
    margin: 0  auto;
}
.registro-cnt h5{
 font-size: 30px;
}
.registro-cnt p{
    font-size: 14px;
    color: rgba(128, 128, 128, 0.91);
}

.registro-cnt .form-registro{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.registro-cnt .form-registro label{
    font-weight: 600;
    font-size: 12px;
}

.registro-cnt .form-registro input{
    width: 100%;
    padding: 7px;
    margin-top: 8px;
    border: 1px black solid;
    border-radius: 7px;
    font-weight: 700;
    font-size: 12px;
}
.form-registro button{
    margin-top: 10px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    background-color: rgb(25, 25, 85);
    cursor: pointer;
}
.form-registro button:hover{
    background-color: rgb(121, 13, 174);
    color: rgb(255, 255, 255);
    font-weight: 800;
}
/*estilos de hover efecto*/
.cnt-efecto{
    width: 100%;
    height: 900px;
    display: flex;
      flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
  
}
.cnt-efecto img{
    border-radius: 3px;
    overflow: hidden;
}
.ctn-inf{
    position: relative;
}
.ladi-inf, .ladi-inf2, .ladi-inf3{
    width: 200px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ladi-inf{
    transition: width 500ms ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(97, 45, 255);
    color: white;
    z-index: 1;
    width: 0;
    overflow: hidden;
    height: 100%;
}
.ladi-inf p, .ladi-inf2 p, .ladi-inf3 p{
    font-size: 9px;
    text-align: center;
}
.ctn-inf:hover .ladi-inf{
    transition: width 0.5s ease-in-out;
 width: 200px;
}

.ladi-inf2{
    transition: height 0.5s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 104, 45);    color: white;
    z-index: 1;
    overflow: hidden;
    height: 0;
}
.ctn-inf:hover .ladi-inf2{
    transition: height 0.5s ease-in-out;
 height: 100px;
}


.ladi-inf3{
    height: 100%;
    transition: width 0.5s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(13, 175, 187);
    color: white;
    z-index: 1;
    overflow: hidden;
    width: 0;
}


.ctn-inf:hover .ladi-inf3{
    transition: width 0.5s ease-in-out;
 width: 200px;
}