*{
    padding: 0;
    margin: 0;
}
.main-tarjetas{
    background: linear-gradient(to bottom, rgb(115, 6, 193), #bc70bc);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    gap: 10px;

}

.cnt-card{
    transition-property: background-color, color ;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    background-color: rgb(3, 54, 71);
    padding: 10px;
    border-radius: 15px;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.cnt-card h6, .cnt-card h1, .cnt-card p {
    margin-bottom: 13px;
}
.cnt-card button{
    border: none;
    border-radius: 5px;
    padding: 7px;
    background-color: tomato;
    color: white;
    cursor: pointer;
}

.cnt-card button:hover{
    background-color: burlywood;
    color: black;
}
