*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    background-color: black;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
#img1{
    filter: blur(10px);
}
#img2{
    display: none;
}
div{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 600;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
div button{
    padding: 7px 9px;
    background-color: rgb(27, 183, 131);
    color: wheat;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
div button:hover{
    background-color: rgba(27, 44, 38, 0.751);
    border: 1px solid #fff;
}
.cargaok{
    display: none;
    color: green;
    font-size: 16px;
}